<title>job details</title>
{% extends 'index.html' %}

{% load static %}
{% block content %}
<br>

<a href="{% url 'home' %}" class="btn btn-danger">Back To Home</a>

<div class="bc">

	<div class="contentt">
	<h1>Job Detail</h1>
	<h2>Latest {{job.companyname}} Reqruitment</h2>
	<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Organization Name</th>
      <th scope="col">{{job.companyname}}</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Job Category</th>
      <td>{{job.jobcat}}</td>
    
    </tr>
    <tr>
      <th scope="row">Total no of Vaccencies</th>
      <td>{{job.vac}}</td>
   
    </tr>
    <tr>
      <th scope="row">Job Location</th>
      <td colspan="2">{{job.jobloc}}</td>
     
    </tr>
     <tr>
      <th scope="row">Name of the Post & No of vacancy</th>
      <td colspan="2">{{job.postname}}</td>
     
    </tr>
     <tr>
      <th scope="row">Educational Qualification</th>
      <td colspan="2">{{job.qualifiction}}</td>
     
    </tr>
     <tr>
      <th scope="row">Eligibility </th>
      <td colspan="2">{{job.eligibility}}</td>
     
    </tr>
     <tr>
      <th scope="row">Age Limit </th>
      <td colspan="2">{{job.agelimit}}</td>
     
    </tr>
     <tr>
      <th scope="row">Selection procudure</th>
      <td colspan="2">{{job.applyproc}}</td>
     
    </tr>

    <tr>
      <th scope="row">Important Dates </th>
      <td colspan="2">{{job.impdate}}</td>
     
    </tr>
    <tr>
      <th scope="row">Salary</th>
      <td colspan="2">{{job.salary}}</td>
     
    </tr>
    {% if job.appfee %}
    <tr>
      <th scope="row">Application Fees </th>
      <td colspan="2">{{job.appfee}}</td>
     
    </tr>
    {% endif %}
     <tr>
      <th scope="row">Last Date </th>
      <td colspan="2">{{job.lastdate}}</td>
     
    </tr>

     <tr>
      <th scope="row">Apply Link</th>
      <td colspan="2"><a href={{job.link}} class="btn btn-primary">Apply Now</a></td>

     
    </tr>


  </tbody>
</table>

<h4>{{job.jobdes}}</h4>

<button class="btn btn-success"><a href="https://chat.whatsapp.com/C94CwgBn4p1AruWedQ5DMQ">Join Our Whatsapp Group</a>
</button>
	</div>
</div>


<div class="related_post">
	<h3>Related Jobs</h3>
	{% for job in jobs %}
   <h5><a href="{% url 'job_details' job.slug %}">{{job.companyname}}</a><br></h5>
	{% endfor %}
</div>

<a href="{% url 'home' %}" class="btn btn-danger">Back To Home</a>





{% endblock content %}
