{% extends 'index.html' %}

{% load static %}
{% block content %}

 <button class="btn btn-success"><a href="https://chat.whatsapp.com/C94CwgBn4p1AruWedQ5DMQ">Join Our Whatsapp Group</a></button>
<h3>Latest Jobs</h3>
<div class="table-responsive-lg">

<table class="table table-striped table-dark">
  <thead>
    <tr>
    
      <th scope="col">COMPANY NAME</th>
      <th scope="col">POST</th>
      <th scope="col">QUALIFICATION</th>
   
      <th scope="col">DETAILS</th>
     
    </tr>
  </thead>
{% for job in jobs %}
  <tbody>
  	
    <tr class="bg-primary">
      <th scope="row">{{job.companyname}}</th>
      <td>{{job.vac}}</td>
      <td>{{job.qualifiction}}</td>
      <td><a href="{% url 'job_details' job.slug %}" class="btn btn-primary">Apply</a></td>
    </tr>
 
  </tbody>
  {% endfor %}
</table>
</div>
<h3 style="color: red">Tamil Nadu Govt Job</h3>
<table class="table bg-info">

  <thead>
    <tr>
      <th scope="col">COMPANY NAME</th>
      <th scope="col">POST</th>
      <th scope="col">QUALIFICATION</th>
      <th scope="col">DETAILS</th>
    </tr>
  </thead>
  {% for job in tnjob %}
  <tbody>
    <tr>
      <th scope="row">{{job.companyname}}</th>
      <td>{{job.vac}}</td>
      <td>{{job.qualifiction}}</td>
      <td><a href="{% url 'job_details' job.slug %}" class="btn btn-primary">Apply</a></td>
    </tr>

  </tbody>
  {% endfor %}
</table>


<h3 style="color: red">Indian Govt Job</h3>
<table class="table bg-danger">

  <thead>
    <tr>
      <th scope="col">COMPANY NAME</th>
      <th scope="col">POST</th>
      <th scope="col">QUALIFICATION</th>
      <th scope="col">DETAILS</th>
    </tr>
  </thead>
  {% for job in injob %}
  <tbody>
    <tr>
      <th scope="row">{{job.companyname}}</th>
      <td>{{job.vac}}</td>
      <td>{{job.qualifiction}}</td>
      <td><a href="{% url 'job_details' job.slug %}" class="btn btn-primary">Apply</a></td>
    </tr>

  </tbody>
  {% endfor %}
</table>

<h3 style="color: red">Private Jobs ALL over India</h3>
<table class="table bg-warning">

  <thead>
    <tr>
      <th scope="col">COMPANY NAME</th>
      <th scope="col">POST</th>
      <th scope="col">QUALIFICATION</th>
      <th scope="col">DETAILS</th>
    </tr>
  </thead>
  {% for job in inpri %}
  <tbody>
    <tr>
      <th scope="row">{{job.companyname}}</th>
      <td>{{job.vac}}</td>
      <td>{{job.qualifiction}}</td>
      <td><a href="{% url 'job_details' job.slug %}" class="btn btn-primary">Apply</a></td>
    </tr>

  </tbody>
  {% endfor %}
</table>



{% endblock content %}

