body{
	background-color: silver;
}

@media only screen and (min-width: 1280px){

	.contentt{
		width: 60%;
		display: block;
		margin-right: auto;
		margin-left: auto;

}
}


.bc{
	background-color: white;
	margin: 15px;
	font-family: Roboto, Arial, sans-serif;
}

.bc h1{
	text-align: center;

}

.page-footer{
	background-color: grey;
}
.page h1.format-icon:before {
	content: none;
}
h6{
	font-size: 18px;
}
h2{
	color: brown;
	text-align: center;

}
.related_post{
	text-align: left;
}

.dis{
	pointer-events: none;
	cursor: default;
}
.about{
	text-align: center;
}
.footerr{
	color: white;
}

.term{
	pointer-events: none;
	cursor: default;

